@import "../../../styles/base/colors";
.fronLogo{
    margin-top:2rem;
    margin-bottom: 2rem;
}
h1{
    text-align: center;
    font-size: 8rem;
    color: $darkBlue;
    margin:0;
    margin-bottom: 0.5rem;
}
h2{
    text-align: center;
    font-size: 3rem;
    color: $gray;
    margin:0;
    
}

h3{
    color: $darkBlue;
}