@import "../../styles/base/colors";
.header{
    
    height: 4rem;
}

.mainMenuButton{
     padding: 0.1em 1em;
     border:0.1em solid $darkBlue;
     margin:0 0.3em 0.3em 0;
     border-radius: 0.12em;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:200;
     color:$darkBlue;
     text-align:center;
     transition: all 0.2s;
     float:right;
     margin-right: 0.3rem;
}

.mainMenuButton:hover{
    background-color:$darkBlue;
    color:white;  
}

.dashboardMenu{
    text-align: center;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 10rem;
    border-bottom: 1px solid black;
}


.dashboardMenuButton{
    font-size: large;
    color:black;
    text-decoration:none;
    margin-left: 5rem;
    
}

.dashboardMenuButton:hover{
    border-bottom: 3px solid black;
    
}

.logoMenu{
margin-top: 0.3rem;
}
.isActive{
    color:gray;
    
}
.isActive:hover{
    border-bottom: 0;
    
}